.info-card {
    border-radius: 5px;
    display: flex;
    background-color: bisque;
    position: absolute;
}

.stats {
    display: flex;
    border-radius: 10px;
}

.stats1 {
    font-size: 20px;
}

.gate-wrapper {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}


.gate-widget {
    position: absolute;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    top: 50%; /* Center vertically */
    transform: translate(-200%,-100%);
    width: auto; /* Let the width be based on content */
    padding: 80px;
    padding-inline: 120px;
    border-radius: 30px;
    outline-width: 5px;
    outline-color: black;
    background-color: aliceblue;
    border-radius: 30px;
  }
 
  .gate-widget h2{

    font-size: 120px;
  }

  .gate-widget h3{

    font-size: 50px;
    
  }


  .gate-point-html {
    pointer-events: auto;
  }