.MainBorder{
    direction: flex;
    justify-content: center;
}

#First_lane:hover{

    stroke: red;

}

.info-card{
    border-radius: 5px;
    display: flex;
    background-color: bisque;
    position: absolute;

}

