.MainBorder{
    direction: flex;
    justify-content: center;
    height:100vh;
    width: 100%

}

.reset-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    padding-top: 10px;
    gap: 10px;
  }
