.data-card{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgb(247, 237, 225);
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 100px;
    align-content: center;
}

.data-card h3{

    font-size: 40px;
    margin: 0;
    padding-top: 20px;
}
.data-card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 0;
    padding-bottom: 20px;
}

