.MainDash{
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px
    
}


.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    overflow-x: hidden; /* Prevents horizontal overflow */
    flex-wrap: wrap;
}


.BorderViewbox {
    display: flex;
    width: 100vw;


}


